/* =============
    Section 1
============= */
#section-1{
    background-image: url('../img/section-1/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;

    @include md{
        height: 700px;
    }

    @include lg{
        height: 800px;
    }

    @include xl{
        height: 960px;
    }

    >div{
        padding-top: 75px;
        text-align: center;

        p{
            color: $light-blue;
            font-size: rem-calc(16);
            line-height: rem-calc(18);

            @include md{
                font-size: rem-calc(25);
                line-height: rem-calc(29);
            }

            @include md{
                font-size: rem-calc(32);
                line-height: rem-calc(34);
            }
        }
    
        a{
            p{
                border: 2px solid $white;
                border-radius: 30px;
                color: $white;
                font-size: rem-calc(18);
                line-height: rem-calc(20);
                width: 100%;

                @include md{
                    font-size: rem-calc(23);
                    line-height: rem-calc(28);
                }

                @include lg{
                    font-size: rem-calc(32);
                    line-height: rem-calc(38);
                }
            }
        }
    }
}
