/* =============
    Section 3
============= */
#section-3{
    >section{
        #section-3-inside{
            @include md{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "top middle";
            }
        }
        #top{
            #img{
                background-image: url('../img/section-3/img.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 400px;
            }
    
            >div{
                background-color: $light-grey;
            }
    
            @include md{
                grid-area: top;
            }
        }
    
        #middle{
            #img2{
                background-image: url('../img/section-3/letterpress.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 400px;
            }
    
            >div{
                background-color: $light-grey;
            }
    
            @include md{
                grid-area: middle;
            }
        }
    
        #bottom{
            #img3{
                background-image: url('../img/section-3/cards.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 400px;
            }
    
            >div{
                background-color: $light-grey;
            }
    
            @include md{
                grid-area: bottom;
            }
        }
    }
   
}
