/* =============
    Section 2
============= */
#section-2{

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{

        @include md{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "section-2-inside section-2-inside aside";
        }

        @include lg{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "aside section-2-inside";
        }

        #section-2-inside{
            background-color: $light-grey;
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". article .";

            @include md{
                grid-area: section-2-inside;
            }

            #article{
                grid-area: article;
                padding-top: 30px;
                padding-bottom: 100px;

                h2{
                    font-size: rem-calc(35);
                    line-height: rem-calc(43);
                    text-align: center;
                }

                p{
                    font-size: rem-calc(16);
                    line-height: rem-calc(21);
                    text-align: justify;
                }

                @include md{
                    padding: 0px;

                    h2{
                        text-align: left;
                    }
                    p{
                        text-align: left;
                    }
                }

                @include lg{
                    padding: 75px;
                    h2{
                        font-size: rem-calc(45);
                        line-height: rem-calc(55);
                    }
                    p{
                        font-size: rem-calc(20);
                        line-height: rem-calc(29);
                    }
                }
            }
        }

        #aside{
            background-image: url('../img/section-2/shoes.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 320px;
            
            @include md{
                grid-area: aside;
                height: 246px;
            }

            @include lg{
                height: 600px;
            }
        }
    }
        
}
