/* =============
    Footer
============= */
#footer{
    background-color: $black;
    div{

        @include lg{
            display: flex;
            justify-content: space-between;
        }

        ul{
            display: flex;
            justify-content: center;
            padding-top: 20px;

            li{
                padding: 15px;
            }

        }

        p{
            text-align: center;
            color: $orange;
            padding-bottom: 50px;

            @include lg{
                padding-top: 20px;
                padding-right: 10px;
            }

            span{
                color: $white;
            }
        }
    }
}